@model IEnumerable<LCK_players.Models.TableLCKs1081720>

@{
    ViewBag.Title = "Player";
}

<h2>@ViewBag.note</h2>
<br />
<p>
    選擇的隊伍: @ViewBag.team |
    先發或候補: @ViewBag.lineup |
    選擇的位置: @ViewBag.five
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.暱稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.譯名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.韓文名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.定位)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.先發)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.生日)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.國籍)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.隊伍)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.加入時間)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.暱稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.譯名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.韓文名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.定位)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.先發)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.生日)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.國籍)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.隊伍)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.加入時間)
            </td>
        </tr>
    }

</table>
@if (Model.Count() == 0)
{
    <div class="alert alert-info">
        <strong>這裡還沒有人 ! σ`∀´)σ</strong>
    </div>
}
